</head>
<body>
  <nav>
		<i class="fas fa-flight fa-2x"></i> 
    <a 
			href="/meals/new"
			<%- title === 'Add Meal' ? 'class="active"' : '' %>
		>
			ADD MEALS 
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
    <a 
      href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>
    >
      ADD FLIGHTS
    </a>
  </nav>