<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/style.css">

<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline">Airline:</label>
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport">Airport:</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flightNo">Flight Number # 10-9999</label>
    <input type="range" name='flightNo' min="10" max="9999" type="number">
    <label for="departs">Depart</label>
    <input type="datetime-local" name="departs" value="2022-09-01" min="2022-09-01" max="2023-09-30">
    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>